* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
.topTitle {
  text-align: center;
  padding-top: 20px;
}
.sideBar {
  background-color: cadetblue;
  width: 20%;
  min-height: 500px;
}
.sideBar ul {
  list-style: none;
}
.sideBar ul a li {
  display: block;
  height: 30px;
  padding-top: 8px;
  padding-left: 15px;
  margin-bottom: 2px;
  background-color: #555;
}
.sideBar ul a li:hover {
  background-color: #333;
  color: #fff;
}
.sideBar ul a {
  color: #f1f1f1;
  text-decoration: none;
}
.subSidebar {
  margin: 2px;
  background-color: #444;
}
.adminProfile {
  background-color: #555;
  height: 50px;
}
.adminProfile p {
  padding: 15px;
  margin-left: 50px;
  color: #fff;
}
.adminProfileImg {
  position: absolute;
  padding: 5px;
  left: 12px;
  height: 25px;
  margin-right: 4px;
  margin-top: 6px;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  border-radius: 5px;
}
.subSidebar a {
  padding: 5px;
  display: block;
}
.subSidebar a:hover {
  background-color: #555;
  width: 95%;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    max-height: fit-content;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 669px) {
  .row {
    flex-direction: column;
  }
}
.header {
  min-height: 50px;
  width: 100%;
  background-color: rgb(99, 190, 160);
}
.nav {
  margin-top: 10px;
  min-height: 40px;
  background-color: cadetblue;
  margin-bottom: 0;
}
.nav ul {
  position: absolute;
  right: 10px;
  list-style: none;
  display: flex;
  flex: 100%;
}
.nav ul li {
  max-height: fit-content;
  width: 120px;
  margin: 5px;
  float: right;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}
.nav ul li:hover {
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  background-color: rgb(99, 190, 160);
  color: #444;
  transition: 1s;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f1f1f1;
  min-height: 480px;
}
.card {
  width: 200px;
  margin: 10px;
}

#customers {
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
.pagination {
  position: absolute;
  right: 50px;
}
.pagination ul {
  list-style: none;
  display: flex;
}
.pagination ul a {
  text-decoration: none;
  color: #777;
}
.pagination ul a li {
  margin: 5px;
  display: block;
  padding: 5;
  background-color: #ddd;
  border-radius: 4px;
}
.pagination ul a li:hover {
  background-color: #aaaaaa;
  color: #f1f1f1;
  transition: 1s;
}
/* Product upload*/
.registerForm {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px outset#444;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 5px;
}
@media only screen and (max-width: 660px) {
  .registerForm {
    width: 90%;
  }
}
.addCategoryForm {
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px outset#444;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 5px;
}
.categoryList {
  margin: 0px;
}
/* This is for input*/
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="number"] {
  width: 20%;
  padding: 8px 10px;
  margin: 5px 0;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin-left: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}
input[type="submit"] {
  width: 30%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  font-size: 14px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.footer {
  height: 50px;
  width: 100%;
  background-color: cadetblue;
  color: fff;
}
.footerTitle {
  position: relative;
  padding-top: 10px;
  text-align: center;
}
/* This is for product details page */
.detailContent {
  margin: 20px;
  max-width: 869px;
  line-height: 30px;
}
.detailImage {
  margin: 10px;
}
.detailsText {
  margin: 10px;
}
.productDetailsHead {
  height: 70px;
  margin: 10px;
}
.productDetailsHead a {
  text-decoration: none;
  margin: 10px;
  width: 140px;
  color: #fff;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.small-box > .small-box-footer:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.small-box h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 0;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3,
  .col-xl-2 .small-box h3 {
    font-size: 1.6rem;
  }
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3,
  .col-xl-3 .small-box h3 {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3,
  .col-xl-2 .small-box h3 {
    font-size: 2.2rem;
  }
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3,
  .col-xl-3 .small-box h3 {
    font-size: 2.2rem;
  }
}
.small-box p {
  font-size: 1rem;
}
.small-box p > small {
  color: #f8f9fa;
  display: block;
  font-size: 0.9rem;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5;
}
.small-box .icon {
  color: rgba(0, 0, 0, 0.15);
  z-index: 0;
}
.small-box .icon > i {
  font-size: 90px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.small-box .icon > i.fa,
.small-box .icon > i.fab,
.small-box .icon > i.far,
.small-box .icon > i.fas,
.small-box .icon > i.glyphicon,
.small-box .icon > i.ion {
  font-size: 70px;
  top: 20px;
}
.small-box:hover {
  text-decoration: none;
}
.small-box:hover .icon > i,
.small-box:hover .icon > i.fa,
.small-box:hover .icon > i.fab,
.small-box:hover .icon > i.far,
.small-box:hover .icon > i.fas,
.small-box:hover .icon > i.glyphicon,
.small-box:hover .icon > i.ion {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 767.98px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.bg-primary {
  background-color: #007bff !important;
}
.bg-primary:hover {
  background-color: #0062cc !important;
}
.bg-secondary {
  background-color: #6c757d !important;
}
a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
  background-color: #545b62 !important;
}
.bg-success {
  background-color: #28a745 !important;
}
.bg-success:focus,
.bg-success:hover,
button.bg-success:focus,
button.bg-success:hover {
  background-color: #1e7e34 !important;
}
.bg-info {
  background-color: #17a2b8 !important;
}
.bg-info:focus,
.bg-info:hover,
button.bg-info:focus,
button.bg-info:hover {
  background-color: #117a8b !important;
}
.bg-warning {
  background-color: #ffc107 !important;
}
.bg-warning:focus,
.bg-warning:hover,
button.bg-warning:focus,
button.bg-warning:hover {
  background-color: #d39e00 !important;
}
.bg-danger {
  background-color: #dc3545 !important;
}
.bg-danger:focus,
.bg-danger:hover,
button.bg-danger:focus,
button.bg-danger:hover {
  background-color: #bd2130 !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.bg-light:focus,
.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
  background-color: #dae0e5 !important;
}
.bg-dark {
  background-color: #343a40 !important;
}
.nav-icon {
  margin-right: 6px;
}
